<h2>Cadastrar Preço</h2>
<% if @min_shipping_price.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @min_shipping_price.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'form' %>
