<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Código</th>
      <th>Item</th>
      <th>Transportadora</th>
    </tr>
  </thead>
  <tbody>
    <% service_orders.each do |service_order| %>
    <tr>
      <td><%= l(service_order.created_at.to_date) %></td>
      <td><%= link_to service_order.code, service_order %></td>
      <td><%= service_order.quote.item.sku %></td>
      <td><%= service_order.quote.shipping_company.brand_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
