<h2>Ordens de Serviço</h2>
<% if @pending_service_orders.empty? %>
  <% if admin_signed_in? %>
    <p>Não existem ordens de serviço criadas</p>
  <% end %>
  <% if user_signed_in? %>
    <p>Nenhuma ordem de serviço</p>
  <% end %>
<% else %>
  <% if @pending_service_orders.any? %>
    <section id="pending-service-orders">
      <h3>Pendentes</h3>
      <%= render partial: 'shared/service_orders/service_orders', locals: { service_orders: @pending_service_orders } %>
    </section>
  <% end %>
<% end %>

