<h2>Cadastrar Veículo</h2>
<% if @vehicle.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @vehicle.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'form' %>
